/* --------------------------------------------
	КОММЕНТАРИИ
-------------------------------------------- */

/* Блок с комментариями */
.comment { border: 1px solid rgba(192, 202, 213, 0.55); min-height: 48px; margin-bottom: 10px; padding: 5px 5px 5px 68px; position: relative; }
.comments-header { margin-bottom: 20px; }
.comments-header h3 { font-size: 24px; margin-bottom: 5px; }

.comments { margin-bottom: 30px; }

.comment-wrapper { position: relative; }
.comment-wrapper .comment-wrapper {
    padding-left: 13px;
    margin-left: 0px;
    border-left: 1px dotted #C3C3C3;
}
.comment-preview { padding: 5px 10px 6px; margin-bottom: 10px; background: #fafafa; border: 1px solid #eee; border-radius: 3px; }
.comment-preview { font-size: 13px; line-height: 18px; }


/* Стили для списка комментариев на странице http://ваш_сайт/comments/ */
.comments.comment-list .comment { margin-bottom: 15px; }
.comments.comment-list .comment-path { background: #eee; padding: 5px 10px 6px; border-top: 1px solid #ddd; }
.comments.comment-list .comment-path .blog-name { color: #777; }


/* Комментарий */
.comment .deleted { padding: 5px 10px; color: #777; background: #f4f4f4; }
.comment .comment-avatar { position: absolute; top: 10px; left: 10px; }


/* Типы комментариев
 *
 * deleted 	- 	удаленный комментарий
 * self 	- 	ваш комментарий
 * new 		- 	новый, непрочитанный комментарий
 * current 	- 	активный комментарий, который выделяется при исползование кнопки обновления в тулбаре
 *
 */
.comment 							{ background: #f7f7f7; }
.comment.comment-deleted 			{ background: #efd5d5; }
.comment.comment-self				{ background: rgba(220, 221, 239, 0.64); }
.comment.comment-new 				{ background: rgb(243, 243, 216); }
.comment.comment-current 			{ background: #DBF5E1; }
.comment.comment-bad 				{ }
.comment.comment-bad:hover 			{ opacity: 1; filter: alpha(opacity=100); }


/* Info Block */
.comment .comment-info { padding: 0 70px 7px 0; line-height: 12px; position: relative; top: -2px; overflow: hidden; zoom: 1; }
.comment .comment-info li { float: left; height: 18px; padding-top: 3px; margin-right: 10px; }
.comment .comment-info li a { text-decoration: none; }
.comment .comment-info li.comment-author a { font-weight: bold; }
.comment .comment-info li.comment-author .comment-topic-author { background: #C9A518; color: #fff; font-size: 11px; border-radius: 3px; padding: 1px 7px; margin-right: 5px; }
.comment .comment-info li.comment-date a { color: #999; border-color: #999; }
.comment .comment-info li.vote { position: absolute; top: 0; right: 0; margin: 0; }
.comment .comment-info li.goto-comment-child { display: none; }


/* Content */
.comment .comment-content { margin-bottom: 10px; }
.comment .comment-content.text { font-size: 13px; line-height: 18px;}
.comment .comment-content.text blockquote { background: #fff; border-color: #ccc; padding: 5px 10px; margin-bottom: 5px; border: 1px dashed #ccc; border-left: 3px solid #ccc; }


/* Actions */
.comment .comment-actions li { display: inline; margin-right: 10px; }


/* Форма комментирования */
.reply-header { font-size: 20px; line-height: 1.3em; margin-bottom: 15px; }

.reply { padding-bottom: 10px; }
.reply textarea { height: 100px; }
.reply textarea.loader { background: #f7f7f7 url(../images/loader.gif) no-repeat center; }

.reply .mceEditor { display: block; margin-bottom: 10px; }

.ls-user-role-moderator .comment .comment-deleted { border: 1px solid rgba(192, 202, 213, 0.55); min-height: 48px; margin-bottom: 10px; padding: 5px 5px 5px 68px; position: relative; }

.comment.comment-deleted {
    background-color: #EFD5D5;
    padding: 10px;
    min-height: 0px;
}
